<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smooth Animation</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../Js/script.js" defer></script>
</head>

<body>
    <div id="container">
        <div id="image-container">
          <img src="https://i.postimg.cc/c6yvM7C9/e8be7e761d74fb27f5182371920c014d-removebg-preview.png" alt="" class="image">
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
        <div class="item">
          <div class="ball"></div>
        </div>
      </div>
</body>

</html>